{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "warn"
  },
  "parserOptions": {
    // https://github.com/facebook/create-react-app/issues/7160#issuecomment-502631002
    "warnOnUnsupportedTypeScriptVersion": false
  }
}
